.twoDaysHoroscopeMain
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.horoscopeformContainer
{
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px 30px 20px 5px;
    background-color: lightgrey;
    margin: 20px 5px;
    width: 85vw;
    justify-content: center;
    align-items: center;
}

.horoscopeResultContainer{
    display: flex;
    flex-direction: row;
    margin: 20px 5px;
    width: 80vw;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: black;
    color: white;
    font-size: small;
  }
  #customers {
    font-size:large;
  }
  
  #customers td{
    border: 1px solid black;
    padding: 8px;
  }

  #customers th {
    border: 1px solid white;
    padding: 8px; 
  }

  .loveresult{
    color: red;
    animation-name: loveresult;
    text-decoration:underline;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    position: relative;
    margin-left:-20%;
    animation-duration: 2s;
  }

  @keyframes loveresult {
    from{
      margin-left:-20%;
    }
  
    to{
      margin-left:20%;
    }
  
  }



  .hororesult{
    color: red;
    animation-name: hororesult;
    text-decoration:underline;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    position: relative;
    margin-left:-20%;
    animation-duration: 2s;
  }


 .Loader{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  background-color: white;

} 

  @keyframes hororesult {
    from{
      margin-left:-4%;
    }
  
    to{
      margin-left:4%;
    }
  
  }
